.payment-new-container
  %header.signup-header
    %h1
      = link_to root_path do
        = image_tag("logo.svg")
  %main.payment-new-container__main
    %section.payment-new-container__main__section