= render 'shared/header_mypage'

%main.index-container
  = render 'shared/mypage_side'

  .card-new-container
    .card-new-container__content
      %section.card-new-container__content__container
        = render 'shared/card_new'