.step2-container{
  @include signup-head();
  &__main{
    display: block;
    &__container{
      background: #fff;
      width: 700px;
      margin: 0 auto;
      & h2{
        font-size: 22px;
        padding: 32px;
        line-height: 1.5;
        text-align: center;
      }
      &__form{
        padding: 40px 40px 64px;
        border-top: 1px solid #f5f5f5;
        &__content{
          max-width: 343px;
          margin: 0 auto;
          &__group{
            & label{
            font-weight: 600;
            display: inline-block;
            touch-action: manipulation;
            font-size: 14px;
            }
            & input{
              @include input_default();
            }
            & P{
              margin: 8px 0 0;
              line-height: 1.5;
              font-size: 14px;
            }
          }
          &__submit{
            & .btn-default{
              @include btn_default();
            }
            & P{
              margin: 8px 0 0;
              line-height: 1.5;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}