.slider {
  height: 390px;
  left: 50%;
  margin-left: -50vw;
  position: relative;
  top: 0px;
  width: 100vw;
  overflow: hidden;
  &__main {
    box-sizing: border-box;
    display: block;
    height: auto;
    position: relative;
    visibility: inherit;
    width: 100%;
    &__frame {
      box-sizing: border-box;
      display: block;
      height: 100%;
      margin: 0px;
      -moz-box-sizing: border-box;
      -ms-transform: translate(0, 0);
      overflow: hidden;
      padding: 0;
      position: relative;
      touch-action: pinch-zoom pan-y;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      &__item {
        transform: translate3d(0px, 0px, 0px);
        position: relative;
        display: block;
        margin: 0px;
        padding: 0px;
        height: 390px;
        width: 3459px;
        cursor: pointer;
        box-sizing: border-box;
        touch-action: pan-y pinch-zoom;
        &__slide1 {
          box-sizing: border-box;
          display: inline-block;
          height: auto;
          left: 0px;
          list-style-type: none;
          margin: auto 0px;
          position: absolute;
          top: 0px;
          transform: scale(1);
          transition: transform 0.4s linear 0s;
          vertical-align: top;
          width: 1153px;
        }
        &__slide2 {
          box-sizing: border-box;
          display: inline-block;
          height: auto;
          left: 1155px;
          list-style-type: none;
          margin: auto 0px;
          position: absolute;
          top: 0px;
          transform: scale(1);
          transition: transform 0.4s linear 0s;
          vertical-align: top;
          width: 1155px;
        }
        &__slide3 {
          box-sizing: border-box;
          display: inline-block;
          height: auto;
          left: 2310px;
          list-style-type: none;
          margin: auto 0px;
          position: absolute;
          top: 0px;
          transform: scale(1);
          transition: transform 0.4s linear 0s;
          vertical-align: top;
          width: 1155px;
          &__image3 {
            -webkit-box-align: center;
            align-items: center;
            max-width: 860px;
            -webkit-box-align: center;
            align-items: center;
            max-width: 860px;
            &__contents{
              height: initial;
              height: 100%;
              position: relative;
              width: 100%;
              padding: 20px 40px;
              &__text1 {
                font-size: 60px;
                white-space: normal;
                padding: 0px;
                font-size: 24px;
                font-weight: 600;
                line-height: 1.4;
                margin-bottom: 16px;
                white-space: pre-wrap;
              }
              &__text2 {
                font-size: 18px;
                display: block;
                line-height: 1.77777;
                margin-bottom: 24px; 
              }
              &__app {
                background-color: initial;
                position: initial;
                text-align: left;
                padding: 0px;
                background-color: rgba(255, 255, 255, 0.4);
                bottom: 0px;
                left: 0px;
                position: absolute;
                text-align: center;
                width: 100%;
                padding: 5px;
              }
            }
          }
        }
      }
    }
  }
}

.area-hidden1 {
  height: 390px;
  background-size: auto;
  position: relative;
  background-size: cover;
  background-image: url(top-banner.jpg);
  background-position: center center;
}

.area-hidden2 {
  height: 390px;
  background-size: auto;
  position: relative;
  background-size: cover;
  background-image: url(top-banner-camp.jpg);
  background-position: center center;
}
.area-hidden3 {
  height: 390px;
  background-size: auto;
  position: relative;
  background-size: cover;
  background-image: url(top-banner-main.jpg);
  background-position: center center;
}
.slider-photo {
  background-size: auto;
  height: 390px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.app-store {
  height: 50px;
  width: 170px;
  display: inline-block;
}
.google-play {
  margin-left: 8px;
  height: 50px;
  width: 170px;
  display: inline-block;
}
.style-active {
  background-color: #bfbfbf;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 0;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  vertical-align: top;
  width: 8px;
}